name: Publish to crates.io

on:
  push:
    branches:
      - master

jobs:
  #test:
  #    uses: ./.github/workflows/test.yml
  publish:
    #needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: publish
        run: cargo publish --token ${{ secrets.CRATES_IO_TOKEN }}
